body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #a4ce88;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.ant-input:hover {
    border-color: #d9d9d9;
}

.ant-input:focus {
    border-color: #d9d9d9;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
    color: #a4ce88;
}